<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiao.data.dao.RoleDao">

	<resultMap type="com.xiao.data.entity.Role" id="baseResultMap">
        <id property="roleId" column="role_id" />
        <result property="roleName" column="role_name" />
        <result property="createdTime" column="created_time" />
        <result property="updateTime" column="update_time" />
	</resultMap>
	
	<!-- 字段SQL -->
	<sql id="fieldSql">
		role_id,role_name,created_time,update_time
	</sql>
	
	<!-- 查询对象 -->
	<select id="get" parameterType="string" resultMap="baseResultMap">
		SELECT
		<include refid="fieldSql" />
		FROM role
		<where>
			role_id = #{id}
		</where>
	</select>
	
	<!-- 查询对象 -->
	<select id="query" parameterType="role" resultMap="baseResultMap">
		SELECT
		<include refid="fieldSql" />
		FROM role
		<where>
            <if test="roleId!=null and roleId!=''">and role_id = #{roleId}</if>
            <if test="roleName!=null and roleName!=''">and role_name = #{roleName}</if>
            <if test="createdTime!=null and createdTime!=''">and created_time = #{createdTime}</if>
            <if test="updateTime!=null and updateTime!=''">and update_time = #{updateTime}</if>
		</where>
	</select>
	
	<!-- 保存对象 -->
	<insert id="save" parameterType="role">
		insert into role
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId!=null and roleId!=''">role_id,</if>
            <if test="roleName!=null and roleName!=''">role_name,</if>
            <if test="createdTime!=null and createdTime!=''">created_time,</if>
            <if test="updateTime!=null and updateTime!=''">update_time,</if>
		</trim>
		values
		<trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="roleId!=null and roleId!=''">#{roleId},</if>
            <if test="roleName!=null and roleName!=''">#{roleName},</if>
            <if test="createdTime!=null and createdTime!=''">#{createdTime},</if>
            <if test="updateTime!=null and updateTime!=''">#{updateTime},</if>
		</trim>
	</insert>
	
	<!-- 更新对象 -->
	<update id="update" parameterType="role">
		update role
		<set>
            <if test="roleName!=null and roleName!=''">role_name = #{roleName},</if>
            <if test="createdTime!=null and createdTime!=''">created_time = #{createdTime},</if>
            <if test="updateTime!=null and updateTime!=''">update_time = #{updateTime},</if>
		</set>
		<where>
			role_id = #{roleId}		
		</where>
	</update>
	
	<!-- 删除对象 -->
	<delete id="remove" parameterType="string">
		delete from role 
		<where>
			role_id = #{id}	
		</where>
	</delete>
	
	<!-- 批量删除对象 -->
	<delete id="saveBatch" parameterType="list">
		delete from role 
		<where>
			role_id in
			<foreach collection="ids" item="id" separator="," open="(" close=")">
				#{id}
			</foreach>
		</where>
	</delete>
</mapper>